@page
@model RegisterModel
@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>


<link rel="stylesheet" href="~/css/LogIn.css" asp-append-version="true" />

<div class="container">
	<div class="frame">
		<div class="nav">
			<ul class="links">
				<li class="signin-active"><a class="btn">S'inscrire</a></li>
			</ul>
		</div>
		<div ng-app ng-init="checked = false">
			<form id="registerForm" class="form-signin"  asp-route-returnUrl="@Model.ReturnUrl" method="post">
               
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<label asp-for="Input.Email"></label>
					<input asp-for="Input.Email" class="form-styling" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>

					<label asp-for="Input.Password"></label>
					<input asp-for="Input.Password" class="form-styling" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

					<label asp-for="Input.ConfirmPassword"></label>
					<input asp-for="Input.ConfirmPassword" class="form-styling" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

					<label>Role</label>

					<select name="Role" class="form-styling">
					    <option value="id_utilisateur">Utilisateur</option>
						<option value="id_admin_blog">Admin</option>
					</select>

				<button id="registerSubmit" type="submit" class="btn-animate">Register</button>
            </form>
			
		</div>
		
	</div>
</div>
 </div>
 </div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
